

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
  height: 100vh; /* Set the height to 100% of the viewport height to center vertically */
}
.center-image {
  display: block;
  margin: 0 auto;
  /* border : 1px solid green */
}

@media screen and (max-width: 549px) {
  
}



/* Style for the buttons */
button {
  background: none;
  border: none;
  cursor: pointer;
  /* font-size: 16px; */
  margin: 5px;
  /* text-transform: uppercase; */
}
#wowfooter{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.align-items-center{
  border: 5px solid white;
  padding-top:15px;
  padding-bottom:15px;
border-radius: 20px;
}



#wowfooter>.social-icon {
       
  
  margin:auto;
  /* border:3px solid red; */
  padding:15px
}

#wowfooter>.social-icon {
     
  align-items: center;
}

#wowfooter>.social-icon {
/* display: inline-block; */
}
#wowfooter>.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
   display: inline-flex; 
  border-radius: 50%;
   margin-right: 6px; 
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  gap:5px;
}
#wowfooter>.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
#wowfooter>.social-icon a:hover::before {
  transform: scale(1);
}
#wowfooter>.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#wowfooter>.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

#lastfooter{
  background-color: black;
}


 