/* .social-icon>#harry{
  
    
   
  width:60%

}

#harry{
    background-color: black;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }



  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }




 */









